{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
      {% block title %}
      Home | Article+
      {% endblock %}
  </title>

  <!-- Custom fonts for this template-->

  <link href="{% static 'article/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'article/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'article/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
 
  <style>

::-webkit-scrollbar {
    width: 5px;
    height:5px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
   
  }
  ::-webkit-scrollbar-thumb {
    background: #589EBD; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
    .nav-link:hover{
color:#FECE28;
}
.nav-link:hover .bar{
    color:#FECE28;
    
    
    opacity:1;
    }
.nav-link.active .bar{
    color:#FECE28;
    opacity:1;
}
.bar{
    transition: .6s linear;
    margin-right: 10px;
    opacity: 0;


}
.card:hover{
  background-color: floralwhite;
}
{% block style %}
{% endblock %}
  </style>
</head>

<body id="page-top"  class="sidebar-toggled">
     <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% block sidebar %}
          {%endblock %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% block navbar %}
        {% endblock %}
       
        <!-- Begin Page Content -->
        <div class="container-fluid" style="margin-top: 88px;">
            {% block content %}
            {% endblock %}
          
          <!-- Content Row -->

          
    

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'article/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'article/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'article/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'article/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'article/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'article/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'article/js/demo/chart-pie-demo.js' %}"></script>

  <script src="{% static 'article/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'article/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'article/js/demo/datatables-demo.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
  <script>
    $(function () {
$('[data-toggle="tooltip"]').tooltip({ boundary: 'window' })
})
</script>
{% block js %}
{% endblock %}
</body>

</html>
