{% extends 'article/base.html' %}
{% load static %}
{% block title %}
Article+
{% endblock %}
{% block navbar %}
{% include 'article/navbar.html' %}
{% endblock %}
{% block style %}
#overlay1{
  background-color:#000; /* Black background with opacity */
  z-index: 2; 
  width: 100%;
  height:100%;

  opacity:0.8;
}

{% endblock %}
{% block parallax %}

{% endblock %}
{% block content %}

<div style="background-image: url('{%static 'article/img/bg3.jpg' %}');  
background-repeat:no-repeat; background-size: cover;">
    <div id="overlay1">
        <div class="container" style="height:550px; display: flex;justify-content: center; align-items: center;">
        
            <div style="display: flex; justify-content: center; flex-direction: column;">
            
            <center><h1 style="color:white; font-size: 90px; font-weight: 700; letter-spacing: 2px;">Article<span style="color:#FFD369;">+</span></h1></center>
           <center><p style="color:rgb(255,255,255,0.6); margin-top: -10px;">Let your creative thinking and our platform work together to turn your writing into a piece of art.</p></center> 
            <center>
              <button class="btn btn-outline-warning" style="font-size: 20px;">Get Started</button>
            </center>
            
          </div>
          
        </div>
        

        <div style="display: flex; justify-content: center; padding-bottom: 50px;">
       <center> <blackquote style="color:rgb(255,255,255,0.6);"> <i> Start writing, no matter what. The water does not flow until the faucet is turned on.  -- Louis L’Amour </i> </blackquote></center>  
        </div>
        </div>
        

    </div>


{% endblock %}