{% extends 'article/base.html' %}
{% load static %}
{% block title %}
Article+
{% endblock %}
{% block navbar %}
{% include 'article/navbar.html' %}
{% endblock %}
{% block style %}

.head{
  font-weight:600;
  letter-spacing:3px;
  margin-left:30px;
 
}
.my_img:hover{
  transform: scale(1.1);
  transition:1s linear;
 
}
{% endblock %}
{% block parallax %}

{% endblock %}
{% block content %}

<div style="background-image: url('{%static 'article/img/bg3.jpg' %}');  
background-repeat:no-repeat; background-size: cover;">
    <div id="overlay1">
        <div class="container" style="height:590px; display: flex;justify-content: center; align-items: center;">
        
            <div style="display: flex; justify-content: center; flex-direction: column;">
            
            <center><h1 style="color:white; font-size: 90px; font-weight: 700; letter-spacing: 2px;">Article<span style="color:#FFD369;">+</span></h1></center>
           <center><p style="color:rgb(255,255,255,0.6); margin-top: -10px;">Let your creative thinking and our platform work together to turn your writing into a piece of art.</p></center> 
            <center>
              <a href="{% url 'login' %}" class="btn btn-outline-warning" style="font-size: 20px;">Get Started</a>
            </center>
            
          </div>
          
        </div>
        <!--
          <div class="form">
                    <input type="text" id="tags">
                    <span class="fas ico"></span>
                  </div>
        -->
        

        <div style="display: flex; justify-content: center; padding-bottom: 50px;">
       <center> <blackquote style="color:rgb(255,255,255,0.6);"> <i> Start writing, no matter what. The water does not flow until the faucet is turned on.  -- Louis L’Amour </i> </blackquote></center>  
        </div>
        </div>
        

    </div>
    <section class="pt-5">
      <div class="container" >
        <div class="row" style="margin-top:80px;">
          <div class="col-12 col-sm-4"  >
            <img class="my_img" src="{% static  'article/img/undraw_content_creator_xeju.svg' %}">
          </div>
          <div class="col-12 col-sm  mt-5" >
            <div style="display: flex; flex-direction: column;">
            <h1  class="head">Start Writing Your Piece Of Art.</h1>
            <p  style="margin-top: -20px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;"></p>
            <p  style=" margin-top: -10px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;">Writing is an art everyone should master. Let your creative thinking and our platform work together to turn your writing into a piece of art. </p>
            <div style="display: flex; justify-content:flex-start ; margin-left:30px;">
             <a href="{% url 'login' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Start Writing<i class="fa fa-arrow-right ml-3" ></i></a>
            </div>
          </div> 
          </div>
        </div>
      </div>
    </section>

  <section class="pt-5">
    <div class="container"> 
      <div class="row" style="margin-top:80px;" >
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'article/img/undraw_reading_0re1.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5 ">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Read and Build Your Knowledge</h1>

          <p  style=" margin-top: -10px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;">Expand your knowledge by reading the topics you love. </p>
          <div style="display: flex; justify-content:flex-start ; margin-left:30px;">
           <a href="{% url 'article_section' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Explore Now. <i class="fa fa-arrow-right ml-3" ></i></a>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4">
            <img class="my_img" src="{% static  'article/img/undraw_data_trends_b0wg.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Trends</h1>
          <p  style="margin-top: -20px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;">See what the world is searching for.</p>
          <p  style=" margin-top: -10px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;">Watch the latest trends, see what is going on in the world and what the world is searching for and update yourself by reading articles realted to them. </p>
          <div style="display: flex; justify-content:flex-start ; margin-left:30px;">
           <a href="{% url 'trends' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Check it out <i class="fa fa-arrow-right ml-3" ></i></a>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 mb-5 pb-5">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-4 order-sm-last">
            <img class="my_img" src="{% static  'article/img/undraw_connected_world_wuay.svg' %}">
        </div>
        <div class="col-12 col-sm  mt-5">
          <div style="display: flex; flex-direction: column;">
          <h1  class="head">Connect with Writers and Your Friends all over the world.</h1>
 
          <p  style=" margin-top: -10px; margin-left:30px;color:rgb(0,0,0,0.5); font-weight: 600;">
            Work together for crafting your master piece, share it with your friends and start building your following.
          </p>
          <div style="display: flex; justify-content:flex-start ; margin-left:30px;">
           <a href="{% url 'login' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Lets Go <i class="fa fa-arrow-right ml-3" ></i></a>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </section>
  <section class="pt-3 mt-5 pb-5" style="background-color: #B0E0E6;">
    <div class="container" >
      <div class="row" style="margin-top:80px;">
        <div class="col-12 col-sm-12">
        <center>
          <h1 class="head">Article<span style="color:#FFD369;">+</span> Tools</h1>
        </center>
      </div>
    </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-12 col-sm-6 " >
        <center>
            <img class="my_img" src="{% static  'article/img/undraw_data_extraction_ih3n.svg' %}" style="height:300px; width:300px;">
          </center> 
            <div style="display: flex; flex-direction: column;">
            <center> 
              <h1  class="head" style="margin-left: 0px;">API</h1>
            </center> 
     <center>
              <p  style=" margin-top: -10px;color:rgb(0,0,0,0.5); font-weight: 600;">
                Article<span class="plus">+</span> API</span> is a simple and easy-to-use API that return <span class="header2">JSON</span> object for <span class="header2">trending searches</span> all
                    over the world, <span class="header2">trending articles</span>, and also provides <span class="header2">Content Extraction API</span>. 
              </p>
            </center>
              <div style="display: flex; justify-content:center  ; ">
               <a href="{% url 'api' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Get Your Key Now. <i class="fa fa-arrow-right ml-3" ></i></a>
              </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 ">
          <center>
              <img class="my_img" src="{% static  'article/img/undraw_convert_2gjv.svg' %}" style="height:300px; width:300px;">
            </center> 
              <div style="display: flex; flex-direction: column;">
              <center> 
                <h1  class="head" style="margin-left: 0px;">Article Rephraser</h1>
              </center> 
              <center>
                <p  style=" margin-top: -10px; color:rgb(0,0,0,0.5); font-weight: 600;">
                  Rephraser Tool helps you to transform your article into fresh one which is free from Plagiarism.
                  It helps you to craft your article within a minute.
                              </p>
                            </center>
                <div style="display: flex; justify-content:center ; ">
                 <a href="{% url 'login' %}" class="btn btn-outline-secondary" style="font-weight: 600;">Lets make use of it.<i class="fa fa-arrow-right ml-3" ></i></a>
                </div>
              </div> 
          </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5 mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
              <div class="card" style="padding:0px;">
                
                  <div class="view overlay">
                  
                     {% if top.0.video %}
                     <video autoplay muted loop width="100%" height="300px">
                       <source src="/media/{{i.video}}" type="video/mp4">
                     
                       Your browser does not support the video tag.
                     </video>
       
                     {%else%}
                       {% if top.0.image2 %}
                       <img class="card-img-top rounded-0" src="{{top.0.image2}}" alt="Card image cap" style="height: 300px;">
                       {% else %}
                       {% if top.0.image %}
                     <img class="card-img-top rounded-0" src="/media/{{top.0.image}}" alt="Card image cap" style="height: 300px;">
                     {% endif %}
                     {% endif %}
                     {%endif%}
                     <a href="#!">
                       <div class="mask rgba-white-slight"></div>
                     </a>
                   </div>
                   

                </div>
                
          
              </div>
            
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                  df
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                f
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                f
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>


{% endblock %}
