<nav class="background-transparent background-transparent-hightlight full-width sticky">
    <div class="s-12 l-2">
      <a href="{% url 'homepage' %}" class="logo">
       <h1 style="color:white; letter-spacing: 2px; font-weight: 600; margin-top:13px;">Article+</h1>
        <!-- Logo White Version 
        <img class="logo-white" src="img/logo.png" alt="">
       
        <img class="logo-dark" src="img/logo-dark.png" alt="">
        -->
      </a>
    </div>
    <div class="top-nav s-12 l-10">
      
      <ul class="right chevron">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'article_section' %}">Articles</a></li>
        <li><a href="{% url 'stories' %}">Stories</a>
         
        </li>
        <li><a href="about.html">Poetries</a></li>
        <li><a href="gallery.html">Quotes</a></li>
        <li><a href="{% url 'trends' %}">Trends</a></li>
        <li><a href="contact.html">API</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'login' %}">{{request.user|upper}}</a>
          <ul>
            <li><a>Profile</a></li>
            <li><a>Bookmarks</a></li>
          </ul>
        </li>
        {%else%}
        <li><a href="{% url 'login' %}">SIGNIN</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>