{% extends 'article/base1.html' %}
{% load to_and %}
{% load crispy_forms_tags %}
{% load static %}
{% block navbar %}

{% include 'article/navbar1.html' %}
{% endblock %}

{% block title %}
    Profile|Article+
{% endblock %}


{% block jscss %}
    
    
    

   
    

{% endblock %}
 
{% block style %}
.wrapper {
  position:relative;
  margin:0 auto;
  overflow:hidden;
padding:5px;
  height:50px;
}

.list {
  position:absolute;
  
  min-width:4000px;

 
}

.list li{
display:table-cell;
  position:relative;
  text-align:center;
  cursor:grab;
  cursor:-webkit-grab;
  color:#efefef;
  vertical-align:middle;
}

.scroller {
text-align:center;
cursor:pointer;
display:none;
padding:7px;
padding-top:11px;
white-space:no-wrap;
vertical-align:middle;
background-color:#fff;
}

.scroller-right{
float:right;
color:rgb(o,0,0);
}

.scroller-left {
float:left;
}

.controls{
    font-weight:700;
}
.control-label{
    font-weight:700;
}
{% endblock %}

{% block content %}


    
    <div class="row" style="margin-top:70px;  ">
      
      
      <div class="col-12 col-sm-3 " style="padding:30px; border-right: 1px solid rgb(156, 154, 154,0.1);">
       <center><img alt="example image" style="border-radius: 50%;width:80%;" src="/media/{{profile.avatar}}"></center>
       <div class=""style="width:100%; text-align: center; margin-top: 20px;padding:10px; border-top:1px solid rgb(156, 154, 154,0.3);">     
          <h2 style="color:#FFD369;">{{profile.first_name|capfirst}} {{profile.last_name|capfirst}}</h2>
          <center><p style="margin-top:-10px;"> {{ profile.follow.all.count }} Following | {{profile.following.all.count }} Follower</p></center>
          <center><p><i class="fa fa-newspaper"></i> {{articles.all.count}} Articles</p></center>

         
          <div class="">
            <div class="card-body">
            <p style="min-height: 100px;">{{profile.bio}}</p>
          </div>
          </div>
        </div>  


     
          
     
      </div>
   
     <!---------------------------------          modal form   --------------------------------------------->

     <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header text-center" style="background-color: #FFD369;">
           <h4 class="modal-title w-100 font-weight-bold">Edit Profile</h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
           <div class="modal-body mx-3">
            <form action="/profile/save/me/" method="POST" enctype="multipart/form-data">
 
             {% csrf_token %}
             <div class="form-verticle">
                 <div class="form-row">
               <div class="form-group col-sm-6">{{p_form.avatar|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.first_name|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.last_name|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.phone_number|as_crispy_field}}</div>
               
               <div class="form-group col-sm-12">{{p_form.email|as_crispy_field}}</div>
               <div class="form-group col-sm-12">{{p_form.address|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.city|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.state|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.country|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.date_of_birth|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.quora|as_crispy_field}}</div>
               <div class="form-group col-sm-6">{{p_form.medium|as_crispy_field}}</div>
               <div class="form-group col-sm-12">{{p_form.other|as_crispy_field}}</div>
               <div class="form-group col-sm-12">{{p_form.bio|as_crispy_field}}</div>
              
             </div>
            </div>
      
          
          <div class="modal-footer d-flex justify-content-center" style="background-color: #FFD369;">
            <button type="submit" class="btn btn-outline-info" style="font-size: 20px;">Save</button>
          </div>
         </form>
        </div>

         </div>
         
         
      
     </div>
   </div>























     <!---------------------------------------------------------------------------------------->
      

      <div class="col-12 col-sm-9" style="padding:20px; ">
        <div class="row">
          <div class="col-12">
         
        {% if show %}
        {% if not watch %}
      <div class="card" style="padding:20px;">
        <div><span style="font-size: 30px;">Profile </span>    {{percentage}}% complete</div>
      <div class="progress">
        
        <div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{percentage}}" aria-valuemin="25" aria-valuemax="100"></div>
      </div>
    </div>
    {%endif%}
      {% endif %}
        <div style="display: flex; justify-content: space-between; padding:20px;" >
          <h1 class=""><i class="fa fa-user"></i> About</h1>
          {% if not watch %}
      <a><button class="btn btn-warning" style="font-size: 14px;" data-toggle="modal" data-target="#modalLoginForm"><i class="fa fa-edit "></i> Edit </button> </a> 
      {%endif%}
    </div>
      <div style="padding:30px; "> 
        <div class="row">
          <div class="col-12 col-sm-6" style="border-bottom: rgb(156, 154, 154,0.3);">
            <div class="row mgbt-xs-0 controls_row" >
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-user"></i> Name:</label>
              <div class="col-sm-6 col-6 controls">{{profile.first_name|capfirst}} {{profile.last_name|capfirst}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
         
          <div class="col-sm-6 col-12 ">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-user-circle-o"></i> User:</label>
              <div class="col-sm-6 col-6 controls">{{profile.user}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6 col-12 ">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-envelope"></i> Email:</label>
              <div class="col-sm-6 col-6 controls">{{profile.email}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-map-marker"></i> Address:</label>
              <div class="col-sm-6 col-6 controls">{{profile.address|capfirst}},{{profile.city|capfirst}},{{profile.state|capfirst}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          
          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-flag"></i> Country:</label>
              <div class="col-sm-6 col-6 controls">{{profile.country|capfirst}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Birthday:</label>
              <div class="col-sm-6 col-6 controls">{{profile.date_of_birth}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          
         
          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-phone" aria-hidden="true"></i> Phone:</label>
              <div class="col-sm-6 col-6 controls">{{profile.phone_number}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-quora"></i> Quora:</label>
              <div class="col-sm-6 col-6 controls">{{profile.quora}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-medium" aria-hidden="true"></i> Medium:</label>
              <div class="col-sm-6 col-6 controls">{{profile.medium}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-sm-5 col-6 control-label"><i class="fa fa-diamond" aria-hidden="true"></i> Other:</label>
              <div class="col-sm-6 col-6 controls">{{profile.other}}</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
        </div>

      </div>

</div>




</div>
   <div class="row">
      
   
    
    <div class="col-12 {%if not watch%}col-sm-10{%else%}col-sm-12{%endif%}" style="{%if not watch%}border-left: 1px solid rgb(156, 154, 154,0.3);{%endif%}">
      <div class="scroller scroller-left"><i class="fa fa-angle-left"></i></div>
  <div class="scroller scroller-right"><i class="fa fa-angle-right"></i></div>
  <div class="wrapper">
         <ul class="nav nav-tabs list">
          <li class="nav-item">
              <a class="nav-link active" href="#myarticle" role="tab" data-toggle="tab"> My Articles</a>
          </li>
         
          {% if not watch %}
          <li class="nav-item">
            
              <a class="nav-link" href="#activities" role="tab" data-toggle="tab">Activities{% if act1_status.0 %}<span class="badge badge-danger">{{act1_status.1}}</span>{%endif%}</a>
              
          </li>
          {%endif%}
          <li class="nav-item">
              <a class="nav-link" href="#followers" role="tab" data-toggle="tab"> Followers{% if following1_status.0 %}<span class="badge badge-danger">{{following1_status.1}}</span>{%endif%}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#following" role="tab" data-toggle="tab"> Following{% if follow1_status.0 %}<span class="badge badge-danger">{{follow1_status.1}}</span>{%endif%}</a>
          </li>
          {% if not watch %}
          <li class="nav-item">
            <a class="nav-link" href="#suggestions" role="tab" data-toggle="tab"> Suggestions for you</a>
        </li>
       
        {%endif%}
      </ul>
    </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active table-responsive" id="myarticle">
          <h1 class="" style="padding:20px;"><i class="fa fa-newspaper-o"></i> My Articles</h1>
           
              
              <table id="example" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th></th>
                        {% if not watch %}
                        <th></th>
                        <th></th>
                        {% endif %}
                       
                    </tr>
                </thead>
                <tbody>
                  {% for i in articles %}
                    <tr>
                        <td style="cursor:pointer;" >{{forloop.counter}}</td>

                        <td style="cursor:pointer;" >
                          {% if i.video %}
                          <video autoplay muted loop width="70" height="60">
                            <source src="/media/{{i.video}}" type="video/mp4">
                          
                            Your browser does not support the video tag.
                          </video>
        
                          {%else%}
                            {% if image2 %}
                            <img src="{{i.image2}}" alt="sorry" style="width:60px;height:40px;">
                            {% else %}
                            <img src="/media/{{i.image}}" alt="sorry" style="width:60px;height:40px;">
                            {% endif %}
                          {%endif%}</td>
                        <td style="cursor:pointer;" >{{i.title}}</td>
                        
                        <td style="cursor:pointer;" >{{i.date_Publish}}</td>
                        <td style="cursor:pointer;">{{i.time}}</td>
                        <td style="cursor:pointer;" >{{i.status}}</td>
                        {% if not watch %}
                        <td style="cursor: pointer;"><a title="Edit" href='/edit/{{i.title|replace}}' style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-edit"></i></a></td>
                        <td style="cursor: pointer;"><a title="Delete" href='/delete/{{i.title|replace}}' style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this item?');"> <i class="fa fa-trash"></i></a></td>
                        {% endif %}
                        <td style="cursor: pointer;">
                          
                          <a href='{% if i.status == "Draft" %}{%else%}{{i.link}}{%endif%}' data-toggle="tooltip" data-placement="top" title="Read Article"> <i class="fa fa-newspaper-o"></i></a></td>
                      </tr>
                  {% endfor %}
                   
                </tbody>
                
              </table>
        </div>


        <div role="tabpanel" class="tab-pane fade table-responsive" id="activities">
          <h1 class="" style="padding:20px;"><i class="fa fa-globe mgr-10 profile-icon"></i> Activities</h1>
              
              <table id="example1" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                  <tr>
                      <th>#</th>
                      <th></th>
                      <th>Activities</th>
                     
                      <th>Time</th>
                      <th>Date</th>
                  
                     
                  </tr>
              </thead>
                <tbody>
                  {% for i in activity %}
                    <tr>
                      <td >{{forloop.counter}}</td>
                        <td ><i class="{{i.activity_icon}}"></i></td>
                        <td >{{i.user_activity}}</td>
                        
                        <td >{{i.activity_time}}</td>
                        <td >{{i.date_activity}}</td>
                        
                    </tr>
                  {% endfor %}
                   
                </tbody>
                
            </table>

        </div>
        <div role="tabpanel" class="tab-pane fade table-responsive" id="followers">
          <h1 class="" style="padding:20px;">{{profile.following.all.count}} Follower</h1>
          <div>
            <table id="example2" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
              <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Username</th>
                    <th>Full name</th>
                   
                    <th></th>
                  
                
                   
                </tr>
            </thead>
              <tbody>
                {% for i in profile.following.all %}
               
                
            
               
                  <tr>
                    <td >{{forloop.counter}}</td>
                      <td><img src="/media/{{i.profile.avatar}}" style="width:40px;border-radius: 100%;"></td>
                      <td >{{i.profile.user}}</td>
                      
                      <td >{{i.profile.first_name|capfirst}} {{i.profile.last_name|capfirst}}</td>
                      <td >
                        <div style="display: flex; justify-content: space-around;">
                          <a href="tel:{{i.profile.phone_number}}" data-toggle="tooltip" data-placement="top" title="Contact"><i class="fa fa-phone"></i></a>
                          <a href="mailto:{{i.profile.email}}" data-toggle="tooltip" data-placement="top" title="Mail"><i class="fa fa-envelope"></i></a>
                          <a href="/read/author/{{i.profile.user}}" data-toggle="tooltip" data-placement="top" title="Read Articles"><i class="fa fa-newspaper-o"></i></a>
                          <a href="/profile/{{i.profile.user}}" data-toggle="tooltip" data-placement="top" title="See Profile"><i class="fa fa-binoculars"></i></a>
                          <form action="/author/follow/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{request.build_absolute_uri}}"  name="title">
                            <input type="hidden" value="{{i.profile.user}}" name="user_name">
                            
                            {% if request.user in i.profile.following.all %}
                            {% if i.profile.user == request.user %}
                            {%else%}
                            <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Unfollow" type="submit">Unfollow</button>
                           {%endif%}
                            {% else %}
                            {% if i.profile.user == request.user %}
                            {% else %}
                            <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Follow" type="submit">Follow</button>
                            {% endif %}
                           
                            {% endif %}
        
                      </form>
                        </div>
                      </td>
                      
                  </tr>
                  {%if watch%}
              
                  {%endif%}
                {% endfor %}
                 
              </tbody>
              
          </table>
           

              

          
          </div>

        </div>
        <div role="tabpanel" class="tab-pane fade table-responsive" id="following">
          <h1 class="" style="padding:20px;"> {{profile.follow.all.count}} Following</h1>
          <table id="example3" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
              <tr>
                  <th>#</th>
                  <th></th>
                  <th>Username</th>
                  <th>Full name</th>
                 
                  <th></th>
                
              
                 
              </tr>
          </thead>
            <tbody>
              {% for i in profile.follow.all %}
            
          
                <tr>
                  <td >{{forloop.counter}}</td>
                  <td><img src="/media/{{i.profile.avatar}}" style="width:40px;border-radius: 100%;"></td>
                    <td >{{i.profile.user}}</td>
                    
                    <td >{{i.profile.first_name|capfirst}} {{i.profile.last_name|capfirst}}</td>
                    <td >
                      <div style="display: flex; justify-content: space-around;">
                        <a href="tel:{{i.profile.phone_number}}" data-toggle="tooltip" data-placement="top" title="Contact"><i class="fa fa-phone"></i></a>
                        <a href="mailto:{{i.profile.email}}" data-toggle="tooltip" data-placement="top" title="Mail"><i class="fa fa-envelope"></i></a>
                        <a href="/read/author/{{i.profile.user}}" data-toggle="tooltip" data-placement="top" title="Read Articles"><i class="fa fa-newspaper-o"></i></a>
                        <a href="/profile/{{i.profile.user}}" data-toggle="tooltip" data-placement="top" title="See Profile"><i class="fa fa-binoculars"></i></a>
                        <form action="/author/follow/" method="POST">
                          {% csrf_token %}
                          <input type="hidden" value="{{request.build_absolute_uri}}"  name="title">
                          <input type="hidden" value="{{i.profile.user}}" name="user_name">
                          {% if request.user in i.profile.following.all %}
                          {% if i.profile.user == request.user %}
                          {%else%}
                          <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Unfollow" type="submit">UnFollow</button>
                         {%endif%} 
                          {% else %}
                          {% if i.profile.user == request.user %}
                          {%else%}
                          <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Follow" type="submit">Follow</button>
                         {%endif %}
                          {% endif %}
      
                    </form>
                      </div>
                    </td>
                    
                </tr>
              
              {% endfor %}
               
            </tbody>
            
        </table>

        </div>
        <div role="tabpanel" class="tab-pane fade table-responsive" id="suggestions">
          <h1 class="" style="padding:20px;"> Suggestion</h1>
          <table id="example4" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
              <tr>
                  <th>#</th>
                  <th></th>
                  <th>Username</th>
                  <th>Full name</th>
                 
                  <th></th>
                
              
                 
              </tr>
          </thead>
            <tbody>
        
            {% for i in suggestion %}
            {% if i.profile.user == request.user %}
            {% else %}
            <tr>
              <td >{{forloop.counter}}</td>
              <td><img src="/media/{{i.avatar}}" style="width:40px;border-radius: 100%;"></td>
                <td >{{i.user}}</td>
                
                <td >{{i.first_name}} {{i.last_name}}</td>
                <td >
                  <div style="display: flex; justify-content: space-around;">
                    <a href="tel:{{i.phone_number}}" data-toggle="tooltip" data-placement="top" title="Contact"><i class="fa fa-phone"></i></a>
                    <a href="mailto:{{i.email}}" data-toggle="tooltip" data-placement="top" title="Mail"><i class="fa fa-envelope"></i></a>
                    <a href="/read/author/{{i.user}}" data-toggle="tooltip" data-placement="top" title="Read Articles"><i class="fa fa-newspaper-o"></i></a>
                    <a href="/profile/{{i.user}}" data-toggle="tooltip" data-placement="top" title="See Profile"><i class="fa fa-binoculars"></i></a>
                    <form action="/author/follow/" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{request.build_absolute_uri}}"  name="title">
                      <input type="hidden" value="{{i.user}}" name="user_name">
                      {% if request.user in i.following.all %}
                      <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Unfollow" type="submit">Unfollow</button>
                     
                      {% else %}
                      <button class="btn btn-outline-info" style="font-size: 12px;padding:2px;" data-toggle="tooltip" data-placement="top" title="Follow" type="submit">Follow</button>
                     
                      {% endif %}
  
                </form>
                  </div>
                </td>
                
            </tr>
            {%endif%}

            {% endfor %}
       
        </tbody>
            
      </table>
        </div>
      </div>
      
      </div>

  



    

      
      
   
    </div>
  </div>
</div>
</div>
    
  

</section>
{% block footer%}

{% endblock %}
    
{% endblock %}

{% block script%}

<script>
  $(document).ready(function() {
    $('#example').bootstrapTable();
} );
$(document).ready(function() {
    $('#example7').DataTable();
} );



$(document).ready(function() {
    $('#example1').DataTable();
} );
$(document).ready(function() {
    $('#example2').DataTable();
} );
$(document).ready(function() {
    $('#example3').DataTable();
} );
$(document).ready(function() {
    $('#example4').DataTable();
} );
</script>
<script>
  jQuery(document).ready(function($) {
  $(".clickable-row").click(function() {
      window.location = $(this).data("href");

  });
});
</script>
<script>
    document.body.style.backgroundColor = "#fff";
</script>
<script>
  var hidWidth;
var scrollBarWidths = 40;

var widthOfList = function(){
  var itemsWidth = 0;
  $('.list li').each(function(){
    var itemWidth = $(this).outerWidth();
    itemsWidth+=itemWidth;
  });
  return itemsWidth;
};

var widthOfHidden = function(){
  return (($('.wrapper').outerWidth())-widthOfList()-getLeftPosi())-scrollBarWidths;
};

var getLeftPosi = function(){
  return $('.list').position().left;
};

var reAdjust = function(){
  if (($('.wrapper').outerWidth()) < widthOfList()) {
    $('.scroller-right').show();
  }
  else {
    $('.scroller-right').hide();
  }
  
  if (getLeftPosi()<0) {
    $('.scroller-left').show();
  }
  else {
    $('.item').animate({left:"-="+getLeftPosi()+"px"},'slow');
  	$('.scroller-left').hide();
  }
}

reAdjust();

$(window).on('resize',function(e){  
  	reAdjust();
});

$('.scroller-right').click(function() {
  
  $('.scroller-left').fadeIn('slow');
  $('.scroller-right').fadeOut('slow');
  
  $('.list').animate({left:"+="+widthOfHidden()+"px"},'slow',function(){

  });
});

$('.scroller-left').click(function() {
  
	$('.scroller-right').fadeIn('slow');
	$('.scroller-left').fadeOut('slow');
  
  	$('.list').animate({left:"-="+getLeftPosi()+"px"},'slow',function(){
  	
  	});
});    
</script>
{% endblock %}