<ul class="nav nav-tab sidebar bg-gradient-primary toggled sidebar-dark" id="myTab" role="tablist"
style="display: flex; justify-content:flex-start; align-items: center; flex-direction: column; padding-top: 100px;">
<!--
navbar-nav nav-tabs bg-gradient-primary sidebar sidebar-dark toggled
-->
    <!-- Sidebar - Brand -->
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

  
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>
    <li class="nav-item">
      <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">
        <i class="fas fa-fw fa-user"></i>
        <span>About</span>
      </a>
   
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <i class="fas fa-fw fa-newspaper-o"></i>
        <span>Articles</span>
      </a>
   
    </li>

 
  

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  

  </ul>