<ul class="nav nav-tab sidebar bg-gradient-primary toggled sidebar-dark" id="myTab" role="tablist"
style="display: flex; justify-content:flex-start; align-items: center; flex-direction: column; padding-top: 100px;">
<!--
navbar-nav nav-tabs bg-gradient-primary sidebar sidebar-dark toggled
-->
    <!-- Sidebar - Brand -->
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

  
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <i class="fas fa-fw fa-newspaper-o"></i>
        <span>Articles</span>
      </a>
   
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
        <i class="fas fa-fw fa-pencil-square-o"></i>
        <span>Stories</span>
      </a>
   
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <i class="fas fa-fw fa-newspaper-o"></i>
          <span>Poetries</span>
        </a>
       
      </li>
  
      <li class="nav-item">
        <a class="nav-link " id="my-tab" data-toggle="tab" href="#quotes" role="tab" aria-controls="quotes" aria-selected="false">
          <i class="fas fa-fw fa-quote-left"></i>
          <span>Quotes</span>
        </a>
     
      </li>
  

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  

  </ul>