{% extends 'article/base1.html'%}
{% load static%}
{% load crispy_forms_tags %}
{% block style%}
.my_img:hover{
  transform: scale(1.1);
  transition:1s linear;
 
}
{% endblock %}

{% block content %}
<!--
<div class="container" style="color:black;">
  <div class="row" style="margin-top: 20px;">
    <div class="col-12 col-sm-3 col-md-4 justify-content-center" >
  <a href="{% url 'homepage'%}" style="text-decoration: none;color:black;">  <center><h1 style="font-size:70px; font-weight: 700;">Article<span style="color:#FFD369">+</span></h1></center></a>  

    </div>
    <div class="col-12 col-sm-6 col-md-4 justify-content-center" style="margin-top:30px;">
      <center><h1 style="font-size:50px; ">SIGN IN</h1></center>
      <center><p style="font-size:20px; "> New to Article+ ? <a href="">SIGN UP</a></p></center>

    </div>

  </div>

  <div class="row" style="margin-top: 20px;">
    <div class=" col-sm-4">

    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <div>
        <center><button class="btn mb-2" style="display: flex; align-items: center; height:100%">
 
          <a href="{% url 'social:begin' 'facebook' %}" ><button type="button" class="btn btn-info btn-md btn-fb"><i class="fa fa-facebook-f pr-1"></i> Facebook</button></a>
          <a href="" ><button type="button" class="btn btn-danger btn-md btn-fb"><i class="fa fa-google pr-1"></i> Google</button></a>
          <a href="" ><button type="button" class="btn btn-secondary btn-md btn-fb"><i class="fa fa-twitter pr-1"></i> Twitter</button></a>
        
      </button></center>
      </div>
      <div style="margin-top:10px;">
        <center><p><strong style="font-size: 20px;">or</strong></p></center>
      </div>
      <form class="form-group" action="" method="POST">
        {% csrf_token %}
         
          
          
          {{ form|crispy }}

          <div class="form-row" style="display: flex; justify-content: space-between;">
            <button class="btn btn-outline-warning" style="font-size: 30px;">SIGN IN</button>
            <div style="display: flex; align-items: center;">
              <a href="" class="ml-2">
                Forgot Password?
              </a>
          </div>
          </div>
         

              
          
      </form>


    </div>
    
  </div>

  <div class="row" style="height:150px; display: flex; align-items: center;">
    <div class="col-12 col-sm-4"></div>
    <div class="col-12 col-sm-4" style="">
     <center><p>* By logging in, you agree to our Terms of Use and to receive Account+ emails & updates.</p></center> 
    </div>
  </div>
</div>
-->
<div class="container" style="margin-top:-60px;">
<div class="row justify-content-center">

  <div class="col-xl-12 col-lg-12 col-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-sm-block" style="display:flex;  align-items: space-between; flex-direction: column; ">
            <div class="text-center" style="margin-top: 100px; margin-bottom: 50px  ;">
              <a href="{% url 'homepage' %}" style="text-decoration: none;">
              <h1 class="h1 text-gray-900 mb-4" style="font-size: 90px;">Article<span style="color:#FFDF01">+</span></h1>
            </a>
           </div>
            <img class="my_img" src="{% static 'article/img/undraw_sign_in_e6hj.svg' %}" style="width:100%;">
           </div>
          <div class="col-lg-6 ">
            <div class="p-5">
              <div class="text-center d-block d-sm-none">
                <a href="{% url 'homepage' %}" style="text-decoration: none;">
                <h1 class="h1 text-gray-900 mb-4" style="font-size: 50px;">Article<span style="color:#FFDF01">+</span></h1>
              </a>
              </div>
              <div class="text-center d-none d-sm-block">
                <a href="{% url 'homepage' %}" style="text-decoration: none;">
                <h1 class="h1 text-gray-900 mb-4" style="font-size: 50px;">SIGNUP<span style="color:#FFDF01"></span></h1>
              </a>
             </div>
              <form class="user form-group" action="" method="POST">
                {% csrf_token %}
                {{sform|crispy}}
                
                <button type="submit" class="btn btn-primary  btn-block">
                  Signup
                </button>
                <hr>
               
              </form>
              <hr>
             
              <div class="text-center">
                <a class="small" href="{% url 'login'%}">Already have an Account ?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
{% endblock %}
{% block script%}
<script>
   document.body.style.backgroundColor = '#fff';
</script>

{% endblock %}