{% extends 'article/base1.html' %}
{% load static %}
{% load to_and %}
{% block title %}
Article | Article+
{% endblock %}
{% block navbar %}
{% include 'article/navbar1.html' %}
{% endblock %}
{% block style %}
::-webkit-scrollbar{
  transparent:none;
}
div.scrollmenu {
   
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
   
    
    text-align: center;
    padding: 2px;
    text-decoration: none;
  }
  .led{
   
    
  }
  .jssocials-share-link {display:flex; justify-content:center; flex-direction:row; align-items:center;margin:10px;}
  div.scrollmenu .led:hover {
   
    font-weight:600;
 
  }
 
  .jssocials-shares{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
  }
  .myput(
    width:100%;
    border:none;
  )
{% endblock %}
{% block js %}
<script>
    document.body.style.backgroundColor = "#fff";
</script>
<script>
  function copy(){
    var copyText = document.getElementById("myInput1");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    document.getElementById('alertvalue').style.display="block";
    document.getElementById('alertvalue').innerHTML = "Copied";

  }
</script>

<script>
  
    function myFunction(){
      var search_val = document.getElementById('myinput').value.toLowerCase();
      var data = document.getElementById('myTable');
      var data_part = data.getElementsByClassName('myclass');
     
      var tag_part = data.getElementsByClassName('mytag');
      console.log(tag_part);
      for(i=0;i<tag_part.length;i++){
        txtvalue = data_part[i].textContent || data_part[i].innerText;
        
        if(txtvalue.toLowerCase().indexOf(search_val) > -1){
          tag_part[i].style.display="inline";
          tag_part[i].style.justify="left";
          
        }
        else{
          tag_part[i].style.display="none";
        }
      }
      
    }
  
  fun2("all")
  function fun2(c) {
   console.log(document.getElementsByClassName(c));
  }
  
    </script>
{% for i in stories%}
<script>
  function copy(){
    var copyText = document.getElementById("MyInput{{forloop.counter}}");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    document.getElementById('alertvalue').style.display="block";
    document.getElementById('alertvalue').innerHTML = "Copied";

  }
</script>
<script>
  $("#share{{forloop.counter}}").jsSocials({
    showLabel: false,
    showCount: "inside",
    url:"{{request.get_host}}{{i.link}}",
    text:"{{i.title}}",
    shares: ["email", "twitter", "facebook", "linkedin", "pinterest", "whatsapp"]
  });
</script>
{% endfor %}
{% endblock %}
{% block content %}
<div class="row">

    <div class="col-lg-12">

      <!-- Default Card Example -->
      <div class="card shadow mb-4">
        
        <div class="card-body">
            <div class="row">
              <div class="col-10 col-sm-11 mt-2">
                <div class="scrollmenu">
                  <a href="/quotes/" style="text-decoration: none;" class="mr-3"><p><button class="btn btn-primary">All</button></p></a>
                        {% for i in category %}
               
                        
                   
                            <a href="/quotes/category/{{i.category_name}}" class="mr-3" style="text-decoration: none;"><p>{{i.category_name}}</p></a>
           
                       {%endfor%}
                </div>
                    
            </div>
               
                <div class="col-2 col-sm-1" style="display: flex; justify-content: flex-end;">
                   
                    <div class="mt-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="font-size: 15px;"><i class="fa fa-th" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                    <div class="modal-dialog modal-dialog-centered" role="document" >
                      <div class="modal-content">
                        <div class="modal-header">
                        <center> <h5 class="modal-title" id="exampleModalLongTitle"><strong>Writers</strong></h5></center> 
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        {% for i in users %}
                                        {% if request.user == i.profile.user %}
                                        {%else%}
                                       
                                            <div class="col-6 col-sm-4 align-self-center" style="margin-bottom: 20px;padding:10px;">
                                                <a href="/read/author/{{i.username}}" title="Read Author Writing" data-toggle="tooltip"><img src="/media/{{i.profile.avatar}}" style="width:100%;height:130px;border-radius:50%;"></a>
                                                <div style="display: flex; justify-content: center;font-weight: 600;"><a href="/profile/{{i.username}}" title="See Profile" data-toggle="tooltip">{{i.profile.first_name|capfirst}} {{i.profile.last_name|capfirst}}</a></div>
                                                <div style="display: flex; justify-content: center;">{{i.profile.following.all.count}} Follower</div>
                                                <div style="justify-content: center;display: flex;">
                                                   
                                                <form action="/author/follow/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{request.build_absolute_uri}}"  name="title">
                                                    <input type="hidden" value="{{i.username}}" name="user_name">
                                                    {% if request.user in i.profile.following.all %}
                                                    <button class="btn btn-outline-primary"style=" font-size: 12px;padding:2px;" title="Unollow" type="submit">Unfollow</button>
                           
                                                    {% else %}
                                                    <button class="btn btn-outline-primary" style="font-size: 12px;padding:2px;" title="Follow" type="submit">Follow</button>
                                                
                                                    {% endif %}
        
                                               </form>

                                       
                                          
                                        </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
              
                
            </div>
                  
        </div>
      </div>


    </div>

  </div>
  <div class="row" id="myTable">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 d-none d-sm-block">
        <div class="card shadow" style="height:600px;">
          <div class="card-body">

          </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
      <div class="card shadow" style="height:600px; overflow-y: scroll;">
        <div class="card-body">
          {% if quotes.count == 0 %}
        <center> <h2 class="mt-5">Nothing to show !</h2></center>
          {% endif %}
          {% for i in quotes %}
          <div class="row ">
            <div class="col-12 my_tag" style="display: flex; justify-content: space-between;">
              <div style="display: flex; justify-content: flex-start;">
                <div style="">
                <img src="/media/{{i.user_quotes.profile.avatar}}" style="width:50px; height: 50px; border-radius: 50%;">
              </div>
              <div class="ml-3 mt-3" style="font-size: 13px;">
                <i class="fa fa-clock"></i> {{i.time}}, {{i.date_Publish}},<a href="/read/author/{{i.user_quotes}}" title="Read all publications" data-toggle="tooltip"> {{i.user_quotes.profile.first_name}} {{i.user_quotes.profile.last_name}}</a>
                , <a href="/quotes/category/{{i.category}}" title="Explore Category" data-toggle="tooltip">{{i.category}}</a>
              </div>
            </div>
       
          <div>
            <div class="ml-1">
              {% if request.user != i.user_name2 %}
              <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            
              <a class="dropdown-item follow{{i.user_quotes}}">Follow</a>
              <a class="dropdown-item subs{{i.user_quotes}}" href="#" onclick="subscribe('{{i.user_quotes}}','{{forloop.counter}}');" >{% if request.user in i.user_quotes.profile.subscribe.all %}Unsubscribe{% else %}Subscribe{% endif %}</a>
               <!-- <a class="dropdown-item" href="#" onclick="mute('{{i.user_name2}}','{{forloop.counter}}');" id="mute{{forloop.counter}}">{% if i.user_name2 in request.user.profile.mute.all %}Unmute{% else %}Mute{% endif %}</a>-->
                <a class="dropdown-item" href="/profile/{{i.user_quotes}}">Visit Profile</a>
                
              </div>
              
              {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 myclass">
         <center>
         
             {{i.content|safe}}
           
            </center> 
          </div>
          <div class="col-12 mt-4 ">
            <div style="display: flex; justify-content: space-around; font-size: 13px;">
              <a class="ml-3"><i class="fa fa-thumbs-up"></i> {{i.liked.all.count}}</a>
              <a><i class="fa fa-thumbs-down"></i> {{i.disliked.all.count}}</a>
              <a><i class="fa fa-comment"></i> {{i.quotes_comments.count}}</a>
              <a><i class="fa fa-eye"></i></a>
              <a><i class="fa fa-bookmark"></i></a>
              <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            
                <a class="dropdown-item follow{{i.user_quotes}}">Follow</a>
                <a class="dropdown-item subs{{i.user_quotes}}" href="#" onclick="subscribe('{{i.user_quotes}}','{{forloop.counter}}');" >{% if request.user in i.user_quotes.profile.subscribe.all %}Unsubscribe{% else %}Subscribe{% endif %}</a>
                 <!-- <a class="dropdown-item" href="#" onclick="mute('{{i.user_name2}}','{{forloop.counter}}');" id="mute{{forloop.counter}}">{% if i.user_name2 in request.user.profile.mute.all %}Unmute{% else %}Mute{% endif %}</a>-->
                  <a class="dropdown-item" href="/profile/{{i.user_quotes}}">Visit Profile</a>
                  
                </div>
              
            </div>
          </div>
          <div class="col-12 mt-3 " style="display: flex; justify-content: center;">
              {% for j in i.tags|split:"," %}
                <button class="btn btn-outline-secondary mr-1" style="font-size: 10px; padding:2px;">{{j}}</button>
              {% endfor %}
          </div>
             
            </div>
            <hr>
          {% endfor %}

        </div>

      </div>
      
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card shadow" style="height:600px;">
        <div class="card-body">

        </div>
      </div>
  </div>
    
  </div>

{% endblock %}